.maincontainer {
  @apply lg:flex-row lg:h-auto;
}
.featuredImage {
}

.blogcontainer {
  @apply my-2 lg:w-[600px] lg:border-b lg:border-red-main;
}

.fibox {
  @apply lg:absolute lg:right-0 lg:top-1/2 
    lg:bg-white lg:w-[400px] lg:h-[300px] lg:-translate-y-1/2
    lg:flex flex-col lg:justify-center lg:items-center
    lg:border lg:border-red-main rounded-lg
    md:relative;
}
